.qv-object-DemoStream body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

.qv-object-DemoStream button {
  position: absolute;
  right: 10px;
  top: 10px;
}